/backend/node_modules
/backend/.env
/backend/config
/backend/middleware
/backend/utils
/backend/controllers/auth.controller.js
/backend/models/User.js
/backend/routes/auth.route.js
/backend/validators/auth.validator.js